*{ 
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
} 

body{ color:whitesmoke ;
background-color: #111;
}
.container{ 
    text-align: center;
    transition: display 2s;
    height:auto;
    height: 100vh;
    background-color:maroon;
     flex-direction: row;
     display:flex;
     justify-content: space-between;
    padding:5px;
      max-height: 520px;
      overflow: hidden;
}
.subcontainer1{
   transition: display 2s;
   overflow:hidden;
    border-radius: 10px;
   -webkit-backdrop-filter: blur(5px);
   backdrop-filter: blur(2.5px);
    height: 100%;
    padding:15px;
    transition: padding 2s;
}
.imagecontainer{
     height: auto;
    width:80%;
    border: 2px black solid;
    height:70vh;
    background-color: #111;
    transition: display 2s;
    text-align: end;
     white-space: nowrap;
    margin:10px 10px;
    border-radius: 10px;background: url(bank2.png),linear-gradient(black,maroon); background-repeat: no-repeat;
    background-size: cover;
    object-fit:cover;
    background-position:center;
}
.subcontainer2{
    height: auto;
    height: 90vh;
    width:60%;
    border: 2px black solid;
    padding:0px;
    background-color: #111;
    text-align: center;
    border-radius: 10px;
    margin:10px 1px;
    overflow: hidden;
    max-height: 500px;
    max-width:400px;
    min-width: 300px;  
   
    transition: padding 2s; 
    transition: background-color 2s;
}
.subcontainer1:hover, .subcontainer2:hover{
    border: darkred solid 0.1px;
    box-shadow: #111 0px 0px 5px ;
    padding:2px;

}
.subcontainer2:hover{
    background-color: black;
}
.bar{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    padding:14px;
    height:14%;
    background-color: #111;
    font-family: sans-serif;
    
}
.favicon{
    border-radius: 50%;
}
.datetime{ 
    font-size: 1rem;
    text-align: end;
}
.Back{ 
   font-size: 2em;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: padding 2s;
   
}
.Back:hover{
   padding-top: 5px;
   padding-left: 10px;
   text-shadow: 0px 0px 2px whitesmoke;
}
.Back a{ 
    color: whitesmoke;
    list-style: none;
    text-decoration: none;
    
    
    display: flex;
    align-items: center;
  
    
}
.material-symbols-outlined{
    color: maroon;

}
#noborder{
    border: none;
    box-shadow: none;
}
.numbers{
    
    display: flex;
    flex-wrap: wrap;
    height: 30%;
    width: 80%;
    max-width: 200px;
    justify-content: flex-end;
    gap: 8px;
    padding:2px;
    margin:30px auto;
    margin-top: 20px;
 
    

}
.numbers:hover{
    
    
   /*  background: radial-gradient(rgba(35, 28, 37, 0.116), #111); */
}
.numbers a{ 
    color: whitesmoke ;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    font-size: 2rem;
    border: maroon solid 0.1px;
    width:60px;
    height:70px;
    border-radius: 15px;
    transition: padding .5s;
    box-shadow: 0px 0px 2px whitesmoke;
}

.numbers a:hover{
    background-color: rgb(2, 2, 19);
    padding: 4px;
    box-shadow: 0px 0px 1px maroon;
    border: rgb(6, 124, 79) solid 0.1px;
    text-shadow: 0px 0px 10px whitesmoke;
}
.Enter{
    text-align: center;
    font-style: oblique;
   font-size: 1.5rem;
   padding:5px;
   margin: -30px 3px auto;
   width: 180px;
   border-radius:15px;
   font-family:
    Tahoma, sans-serif;
    background-color: maroon;
    color: rgba(245, 245, 245, 0.753);
  border:1px;
  transition: color 2s;
  transition: padding 2s;
  
}
.Enter:hover{
     color: #000;
    border:rgb(whitesmoke, 0.1) solid 0.1px; ;
    padding-left:40px;
    box-shadow: whitesmoke 0px 0px 2px ;
    text-shadow: 0px 0px 2px white;

}
.Enter:hover .fa-arrow-right{
    transition: opacity 1s;
}

.Enter:hover .fa-arrow-right{
    font-size: 1em;
    opacity: .001;
}

.imagelogo{
    border-radius: 50%;
    height: auto;
    width:15%;

    box-shadow: whitesmoke 0px 0px 4px;
    
}
.head{
    white-space: wrap;
    
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 15px;
    text-shadow: maroon 0px 0px 5px;
    transition: padding 2s;
    transition: letter-spacing 2s;
    
    
}
.head:hover{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding:2px;
    letter-spacing: 15px;
    cursor:none;
    text-shadow: 0px 0px 10px maroon;
}

.head:hover .imagelogo{
    box-shadow:maroon 0px 0px 10px;
}
.pininput{
    text-align: center;
    box-shadow: 0px 0px 2px whitesmoke;
    border:none;
    padding-top:10px;
    font-size: 1.rem;
    height: 40px;
    border-radius: 15px;
    max-width:500px;
    background-color: 
    maroon;
    border: maroon;
}
.pininput::placeholder{
    font-size: 1.4em;
    color: #111;
}


.footer{
    display: flex;
    height:40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-style: italic;
   
    overflow-x: hidden;
}
.fa-building-columns ,.fa-money-bill-trend-up{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.icon{
    display: block;
    text-shadow: whitesmoke 0px 0px 2px;
    white-space: wrap;
    text-indent: -40px;
    text-align: center;
    padding:1px;
    transition: font-size 1s;
    margin-top: 0px;
    transition: text-shadow 5s;
    transition: letter-spacing 2s;
}
.icon:hover{
   font-size: 1rem;
   text-shadow: white 0px 0px 5px;
   cursor:grab;
   letter-spacing: 25px;
}
.scammers{
   
    
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-evenly;
}
article{
    font-weight: 100;
    border-bottom: brown solid 1px;
    white-space: wrap;
    text-align: center;
    padding:5px;
    width:100%;
}
.details{
    font-weight: 100;
    text-align: center;
    color:beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:5px;
    font-size: xx-small;
}
.Connect{
    color: maroon;
}
em{
    font-size: .9rem;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: 100;
}
.fa-phone,.fa-shield,.fa-gears{
    color:rgb(139, 0, 0);
    font-size: 1.8rem;
}
.sublinks{
    padding:15px;
    color:beige;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    
}
.sublinks li{
    font-style: italic;
    list-style-type: circle;
    font-size:.9rem;
}
@media screen and (max-width:768px){
    .subcontainer1,.imagecontainer{
        display: none;
    }
    .container{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    
}